@media (min-width: 1024px) and (max-width: 1200px) {
    .product1 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img4 {

    }

    .product2 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img5 {

    }

    .product3 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img7 {
        
    }

    .product4 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img7 {
        margin: 1em 0 0 0;
    }

    .product5 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img16 {

    }

    .product6 {
        width: 100%;
        margin: 2.5em 0 0 0;
        text-align: center;
    } 

    .img17 {

    }

    .product7 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img19 {

    }

    .product8 {
        width: 100%;
        margin: 2.5em 0 0 0;
        text-align: center;
    }

    .img21 {
        
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main-nav {
        margin-right: 0;
        padding-right: 1em;
    }

    .main-nav li {
        margin-left: 20px;
    }

    .main-nav li a {
        margin-left: 20px;
    }

    .nike-products {
        flex-direction: column;
    }

    .product1 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img4 {

    }

    .product2 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img5 {

    }

    .product3 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img7 {
        
    }

    .product4 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img7 {
        margin: 1em 0 0 0;
    }

    .product5 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img16 {

    }

    .product6 {
        width: 100%;
        margin: 2.5em 0 0 0;
        text-align: center;
    } 

    .img17 {

    }

    .product7 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img19 {

    }

    .product8 {
        width: 100%;
        margin: 2.5em 0 0 0;
        text-align: center;
    }

    .img21 {
        
    }
}


/*-- 
.product1 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img4 {

    }

    .product2 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img5 {

    }

    .product3 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img7 {
        
    }

    .product4 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img7 {
        margin: 1em 0 0 0;
    }

    .product5 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img16 {

    }

    .product6 {
        width: 100%;
        margin: 2.5em 0 0 0;
        text-align: center;
    } 

    .img17 {

    }

    .product7 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img19 {

    }

    .product8 {
        width: 100%;
        margin: 2.5em 0 0 0;
        text-align: center;
    }

    .img21 {
        
    }
    -- */