/*----------------------------------*/
/* BASIC SETUP */
/*----------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: Arial;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Arial";
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*----------------------------------*/
/* HEADER */
/*----------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-img.jpg);
    height: 100vh;
}

/*----------------------------------*/
/* HEAD */
/*----------------------------------*/

.head {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding-left: 20px;
    display: flex;
    font-size: 15px;
    position: fixed;
    z-index: 9999;
}

.top-head {
    display: flex;
}

.top-head h1 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 300;
    padding-right: 5px;
}

.top-head img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.main-nav {
    margin-left: 350px;
}

.main-nav li {
    display: inline-block;
    margin-top: 20px;

}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
    /*padding-right: 5px;*/
}

#home {
    color: #777;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #e67e22;
    transition: color 0.6s; 
}

.main-nav li:last-child a i {
    position: relative;
}

.main-nav li:last-child a i span{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    background: red;
    height: 12px;
    width: 12px;
    border-radius: 50%; 
    text-align: center;  
}

.main-nav li:last-child a i span h6 {
    color: #fff;
    position: relative;
    bottom: 3px;
}






/*----------------------------------*/
/* MID-HEAD */
/*----------------------------------*/
.mid-head {
    display: flex;
    justify-content: center;
}

.mid-head-adjustments {
    align-self: center;
    position: absolute;
    top: 45%;
}

.mid-head a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

.mid-head a:link,
.mid-head a:visited {
    color: #fff;
}

.mid-head a:hover,
.mid-head a:active {
    color: #e67e22;
    transition: background-color 0.6s, color 0.6s; 
}

/*----------------------------------*/
/* MENS WEARS */
/*----------------------------------*/

.mens-wears {
    position: relative;
    /*display: flex;*/
}

.mens-wears a {
    position: absolute;
    margin-left: 600px;
    margin-top: 250px;
    text-decoration: none;
    padding: 5px 7px;
    float: right;
}

.mens-wears a:link,
.mens-wears a:visited {
    background-color: #000;
    color: #fff;
}

.mens-wears a:hover,
.mens-wears a:active {
    color: #000;
    background-color: #999;
    transition: background-color 0.6s, color 0.6s; 
}

.mens-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(bg2-img.jpg);
    height: 100vh;
    width: 50%;
}

.mens-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(bg5-img.jpg);
    height: 400px;
    width: 50%;
    float: right;
    margin-top: -400px;
    overflow-y: hidden;
}

/*----------------------------------*/
/* ICONS */
/*----------------------------------*/

.icon-small {
    text-align: center;
    color: #e67e22;
    font-size: 15px;
    padding-right: 10px;
    
    /*secrets to align text and icon*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.icon-footer {
    text-align: center;
    font-size: 25px;
    float: right;
    padding-right: 10%;
    
    /*secrets to align text and icon*/
    line-height: 120%;
}

#facebook {
    color: #3b5998;
}

#twitter {
    color: #00aced;
}

#instagram {
    color: #bc2a8d;
}
 

/*----------------------------------*/
/* SHOWCASE */
/*----------------------------------*/

.showcase {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg6-img.jpg);
    height: 100vh;
    position: relative;
}


 .product-showcase a {
    position: absolute;
    margin-left: 540px;
    margin-top: 250px;
    margin-bottom: 200px;
    text-decoration: none;
    padding: 5px 7px;
}

.product-showcase a:link,
.product-showcase a:visited {
    background-color: #000;
    color: #fff;
}

.product-showcase a:hover,
.product-showcase a:active {
    color: #000;
    background-color: #999;
    transition: background-color 0.6s, color 0.6s; 
}

/*----------------------------------*/
/* CONCLUSION */
/*----------------------------------*/

.conclusion {
    background-color: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.conclusion h2 {
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
}

/*----------------------------------*/
/* FORM */
/*----------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.name-row {
    margin-bottom: 25px;
}

.email-row {
    margin-bottom: 25px;
}

.location-row {
    margin-bottom: 25px;
}

.newsletter-row {
    margin-bottom: 25px;
}

.message-row {
    margin-bottom: 25px;
}

#submit {
    cursor: pointer;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

input[type=submit]:hover,
input[type=submit]:active  {
    background-color: #cf6d17;
}

*:focus{outline: none;}

/*----------------------------------*/
/* FOOTER */
/*----------------------------------*/

.footer {
    background-color: #000;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer ul li {
    display: inline-block;
    /*padding-left: 25px;*/
}

.footer ul li a {
    text-decoration: none;
    color: #777674;
    margin-right: 10px;
}

.footer ul li a:link,
.footer ul li a:visited {
    color: #777674;
}

.footer ul li a:hover,
.footer ul li a:active {
    color: #c1bcb8;
}

.short-copy {
    padding-top: 40px;
    text-align: center;
}


